// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary_color : #B2D235;
$title_text_color:  #11114E;
$pri_text_color:  #505353;
$link_color: #90AB26;

@font-face {
  font-family: 'UTM BryantLG';
  src: url('../../storage/app/public/fonts/UTM_BryantLG.ttf');
}

@mixin text($font, $color) {
  font: $font;
  color: $color !important; 
}

@mixin primaryBtn($bg_color, $padding, $shadow, $border_radius) {
  text-decoration: none;
  background-color: $bg_color !important;
  padding: $padding !important;
  box-shadow: $shadow;
  border-radius: $border_radius;
  transition: 0s;
  text-align: center;
}
