@import 'variables';

.course_detail {
  .txt-path {
    background: #E9E7E7;
    letter-spacing: -0.02em;
    @include text(16px/20px 'UTM BryantLG', $pri_text_color);
  }

  .description {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;

    hr {
      border: 1px solid $primary_color;
    }

    .title {
      letter-spacing: -0.02em;
      -webkit-text-stroke: 0.5px $pri_text_color;
      @include text(bold 25px/31px 'UTM BryantLG', $pri_text_color);
    }
      
    
    .txt {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 13;
      -webkit-box-orient: vertical;
      text-align: justify;
      letter-spacing: -0.02em;
      @include text(bold 18px/26px 'UTM BryantLG', #949292);
    }
  }

  .paremeter {
    color: #BDB9B9;

    .fa {
      letter-spacing: -0.05em;
      font-size: 35px;
      line-height: 40px;
    }

    .fa-users {
      font-size: 32px;
      line-height: 37px;
    }

    .txt {
      letter-spacing: -0.02em;
      font: 25px/31px 'UTM BryantLG';
    }

    .txt-data {
      @extend .txt;
      font-weight: bold;
    }

    .tag {
      color: #5D8BD0;
    }
  }

  .btn-search {
    border: 1px solid $primary_color;
    @include text(bold 15px/20px 'Open Sans', #FFFFFF);
    @include primaryBtn($primary_color, 0.5rem, none, 5px);
  }
}

.other-course {
  thead {
    background: #B2D235;
    border: 1px solid #DEDEDE;
    letter-spacing: -0.05em;
    -webkit-text-stroke: 0.3px #FFFFFF;
    @include text (bold 25px/31px 'UTM BryantLG', #FFFFFF);
  }

  .txt-body {
    letter-spacing: -0.02em;
    @include text (bold 16px/20px 'UTM BryantLG', $pri_text_color);
  
    &:hover {
    color: $primary_color;
    }
  }

  .button {
    letter-spacing: -0.05em;
    -webkit-text-stroke: 0.3px #FFFFFF;
    @include text (bold 18px/22px 'UTM BryantLG', #FFFFFF);
    @include primaryBtn($primary_color, 0.25rem 0.5rem, inset 0px 1.5px 2px #6F8710, 22px);
  }

  .button:hover {
    font-size: 20px;
  }
}

.review {
  .total-box {
    background: $pri_text_color;
    border-radius: 5px;
    width: 15.25rem;
    height: 11rem;
  }

  .total-star {
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 5px;

    .slider {
      background: #E1E1E1;
      border-radius: 2px;
    }
    .slider.active {
      $background: $primary_color;
    }
  }

  .cmt {
    .content {
      letter-spacing: -0.02em;
      @include text(18px/26px 'UTM BryantLG', #949292);
    }

    .date {
      letter-spacing: -0.02em;
      @include text(14px/17px 'UTM BryantLG', #BDB9B9);
    }

    .author {
      letter-spacing: -0.02em;
      -webkit-text-stroke: 0.4px $pri_text_color;
      @include text(bold 18px/22px 'UTM BryantLG', $pri_text_color);
    }

    .ava {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}